# Pustaka utama aplikasi Streamlit
streamlit>=1.36.0 

# Pustaka pemrosesan data (digunakan di model.py)
pandas>=2.2.2 

# Pustaka Model/Scaler (Wajib menggunakan versi yang SAMA PERSIS)
numpy==2.1.3
joblib==1.4.2
scikit-learn==1.6.1
xgboost==3.1.2

